.logout-home-button {
  height: 50px;
  width: 110px;
  background-color: var(--cool-gray);
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;

  transition:
    transform 0.2s ease,
    box-shadow 0.3s ease,
    border-radius 0.3s ease;
}

.logout-text-content {
  color: var(--oxford-blue);
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  transition: font-size 0.3s ease;
}

.logout-home-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logout-home-button:hover .logout-text-content {
  font-size: 26px;
}
