.signup-home-button {
  height: 50px;
  width: 130px;
  background-color: #d9d9d9;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;

  transition:
    transform 0.2s ease,
    box-shadow 0.3s ease,
    border-radius 0.3s ease;
}

.sign-up-text-content {
  color: var(--eerie-black);
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  transition:
    font-size 0.3s ease;
}

.signup-home-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.signup-home-button:hover .sign-up-text-content {
  font-size: 26px;
}