.login {
  height: 50px;
  width: 110px;
  background-color: var(--cool-gray);
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition:
    border-radius 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.login-text-content {
  color: var(--eerie-black);
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  transition:
    font-size 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.login.hover {
  background-color: var(--cool-gray);
  border-radius: 18px;
  transform: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.login.hover .login-text-content {
  font-size: 26px;
  color: var(--eerie-black);
}